/* styles.css */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;700&display=swap');

/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: rgb(82, 100, 71);
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: rgb(71, 93, 72);
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

/* Home Page */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container img {
    max-width: 100%;
    height: auto;
}

/* Products Page */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

.grid-container img {
    width: 100%;
    height: auto;
}

/* Contact Page */
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact-container img {
    width: 100%;
    height: auto;
}

.introduction {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    margin: 20px;
    border-radius: 10px;
}

.introduction h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.introduction p {
    margin-top: 10px;
}